XRPL_NETWORK_URL=https://s.altnet.rippletest.net:51234/
XRPL_POLL_INTERVAL_SECONDS=30
XRPL_ACCOUNT_TX_LIMIT=50
RLUSD_CURRENCY_CODE=RLUSD
RLUSD_ISSUER=rRLUSDxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NGO_CHAIN_PROFILES_JSON=[{"ngo_id":"wateraid","name":"WaterAid","treasury_address":"rTreasuryAddress","treasury_seed":"sTreasurySeed","issuer_address":"rIssuerAddress","issuer_seed":"sIssuerSeed","distributor_address":"rDistributorAddress","distributor_seed":"sDistributorSeed","dono_rate":"10"}]
